<form class="filter">

    
    <div class="row">

        <div class="form-group col-md-6">
            <label for="objectif">Nom</label>
            {{input value=spec.text class="form-control" type="text"}}
        </div>
        
    </div>


</form>