{{#x-popup}}
        {{#affixable-header class="workspace-header"}}

            <div class="workspace-mainInfos">
                <h2 class="workspace-title inline">Bibliographies</h2>
                {{#if createMode}}
                    <h3 class="workspace-breadcrumb">Saisir une nouvelle bibliographie</h3>
                {{else}}
                    <h3 class="workspace-breadcrumb">Editer une bibliographie</h3>
                {{/if}}
                <div class="head-note"><small><i>* informations obligatoires</i></small></div>
            </div>

        {{/affixable-header}}

        <div class="col-xs-12">
            
            {{partial 'bibliographies/edit'}}
            

            <div class="form-row form-footer">
                <div class="col-md-12 ">
                    <button class="btn btn-cancel pull-left" {{action 'cancel'}}>Annuler</button>
                    <button class="btn btn-success pull-right" {{action 'save'}}>Enregistrer</button>
                </div>
            </div>

        </div>

{{/x-popup}}