<div class="row">
    <div class="col-md-12">
        <span class="u-bold">Mise à jour :</span> Jean DUPOND (01/01/2015)
    </div>
    <div class="col-md-12">
        <span class="u-bold">Status du traçage:</span>
        <span class="label label-primary">En cours</span>
    </div>
</div>