<ul>
    {{#each model as |item| }}
        <li>
            {{#link-to 'points.edit' item.id}}
                <span>{{item.text}}</span>
            {{/link-to}}
            <button style="margin-left:25px" {{action 'delete' item}}>Delete</button>
        </li>
    {{/each}}
</ul>

{{#link-to "points.new"}}Crééer un point{{/link-to}}